<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="style.css">
    <title>About page</title>
</head>
<body>
    <header>
        <div>
            <div>
                <img class="blackHeart" src="./images/" alt="" />
                <span> About page of the cats </span>
            </div>
    
            <nav class="nav-bar">
                <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about"> About </a></li>
                <li><a href="/work"> Work </a></li>
                <li><a href="/gallery"> Gallery </a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <section id="cover">
        <h1>Greatest cats</h1>
          <article>
              <p>
              text
              </p>
          </article>
    </section>
    

</body>
</html>